<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>

    {% if site.google_analytics %}
      <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '{{ site.google_analytics }}');
      </script>
    {% endif %}
    <meta charset="UTF-8">

{% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="shortcut icon" href="/images/favicon.ico">
  </head>
  <body>
    <header class="page-header" role="banner">
      <h1 class="project-name">SmmServer</h1>
      <a href="https://mega.nz/#!v5higArA!7QQpLxkZWkP_oNh3DysEqUescgzF5-qwrrSuGS4A2JU" class="btn">Download</a>
      <a href="https://github.com/SmmServer" class="btn">Source Code</a>
      <a href="https://github.com/sponsors/mrexodia" class="btn">❤️ Sponsor</a>
    </header>

    <main id="content" class="main-content" role="main">
      {{ content }}

      <footer class="site-footer">
        <p>SmmServer is not affiliated or associated with any other company.<br>All logos, trademarks, and trade names used herein are the property of their respective owners.</p>
      </footer>
    </main>
  </body>

</html>